@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .background-gradient {
    background: linear-gradient(45deg, #fff 50%, #fc631e 50%);
  }
}

@font-face {
  font-family: 'CircularStd-Bold';
  src: local("CircularStd-Bold"), url('./assets/fonts/CircularStd-Bold.otf');
}
@font-face {
  font-family: 'CircularStd-Book';
  src: local("CircularStd-Book"), url('./assets/fonts/CircularStd-Book.otf');
}
@font-face {
  font-family: 'CircularStd-Medium';
  src: local("CircularStd-Medium"), url('./assets/fonts/CircularStd-Medium.otf');
}

body {
  margin: 0;
  font-family: 'CircularStd-Book', 'CircularStd-Medium', 'CircularStd-Bold', -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background: linear-gradient(180deg, #f6f6f6 303px, 0, #fff);
  height: 100%;
}
