@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'CircularStd-Bold';
  src: url('./assets/fonts/CircularStd-Bold.otf');
}
@font-face {
  font-family: 'CircularStd-Book';
  src: url('./assets/fonts/CircularStd-Book.otf');
}
@font-face {
  font-family: 'CircularStd-Medium';
  src: url('./assets/fonts/CircularStd-Medium.otf');
}

body {
  margin: 0;
  font-family: 'CircularStd-Book ', -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background: linear-gradient(180deg, #f6f6f6 303px, 0, #fff);
  height: 100%;
}
